.setting-page {
  padding: 20rpx 0;
  .at-form {
    padding: 0;
    &::after {
      border: none;
    }
    .form-row {
      padding: 0 32rpx;
      border-top: 1px solid #eee;
    }
    .form-desc {
      font-size: 26rpx;
      padding: 16rpx 32rpx;
      color: rgb(134,134,134);
      border-top: 1px solid #eee;
      margin-bottom: 32rpx;
    }
    .at-switch {
      padding: 16rpx 0; 
      &__title {
        font-size: 32rpx;
      }
    }
    .at-input {
      &__children::after {
        font-size: 32rpx;
        border: none;
      }
      &__children {
        font-size: 32rpx;
      }
      .input-button {
        padding-left: 30rpx;
        padding-right: 0;
        margin-left: 16rpx;
        border-left: 1px solid #d9d9d9;
      }
    }
    .at-icon {
      margin-right: -11rpx;
      margin-bottom: 0rpx;
      transform: translateY(-1rpx);
      opacity: 0.8;
    }
    .border-bottom {
      border-bottom: 1px solid #eee;
    }
    .form-footer {
      padding: 0 32rpx;
      margin-top: 64rpx;
      .form-button {
        color: #ffffff;
        height:76rpx;
        line-height: 76rpx;
        background:linear-gradient(133deg,rgba(72,72,72,1) 0%,rgba(60,60,60,1) 100%);
        border-radius:6px;
        border: none;
        text-align: center;
        font-size: 32rpx;
      }
    }
  }
}