.setting-page {
  padding: 40px 0;
  .at-form {
    padding: 0;
    &::after {
      border: none;
    }
    .form-row {
      padding: 0 40px;
      background: #fff;
      &.must-row {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        font-weight: bold;
        .row-title {
          flex: 1;
          color: #404040;
        }
        .row-value {
          color: #999;
        }
      }
    }
    .form-desc {
      font-weight: bold;
      font-size: 28px;
      padding: 60px 40px 30px;
      color: #999;
    }
    .item-warn {
      font-size: 28px;
      font-weight: bold;
      padding: 30px 40px 0;
      color: #ccc;
    }
    .at-icon {
      margin-right: -11px;
      margin-bottom: 0px;
      transform: translateY(-1px);
      opacity: 0.8;
    }
    .demo-list-item {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 24px 0;
      font-weight: bold;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scaleY(0.5);
        transform-origin: center;
        box-sizing: border-box;
        pointer-events: none;
      }
    
      &::before {
        top: 0;
        bottom: auto;
      }
    
      &__label,
      &__value {
        color: #404040;
        font-size: 32px;
        line-height: 1.5;
      }
    
      &__value {
        color: #999;
      }
    }
    .at-switch {
      padding: 16px 0; 
      font-weight: bold;
      &__title {
        color: #404040;
        font-size: 32px;
      }
    }
    .form-footer {
      padding: 0 32px;
      margin-top: 64px;
      .form-button {
        color: #ffffff;
        height:76px;
        line-height: 76px;
        background:linear-gradient(133deg,rgba(72,72,72,1) 0%,rgba(60,60,60,1) 100%);
        border-radius:6px;
        border: none;
        text-align: center;
        font-size: 32px;
      }
    }
  }
}