.store-data-page {
	background-color: rgb(250,250,250);
	padding-bottom: 50px;
	margin-bottom: 10px;
  .page-header {
		box-sizing: border-box;
		padding: 30px 40px; 
		color: #fff;
		// background:linear-gradient(360deg,rgba(125,189,252,1) 0%,rgba(99,123,248,1) 100%);
		.header-title {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 50px;
			.popover-view {
				width: 100px;
				height: 100px;
				position: absolute;
				background-color: white;
				border-radius: 6rpx;
				left: 50px;
				top: 50px;
			}
			/* 实现三角形 */
			.popover-view::before {
				position: absolute;
				display: inline-block;
				width: 0;
				height: 0px;
				content: '';
				border-style: solid;
				border-width: 30px;
				border-color: #fff #fff transparent transparent;
				top: -30px;
				transform: rotate(-45deg);
				left: 50px;
			}
			.switch-box {
				position: relative;
				left: -30px;
				width:174px;
				height:68px;
				background:rgba(255,143,31,1);
				box-shadow:0px 10px 20px rgba(255,113,35,0.2);
				opacity:1;
				border-radius:0px 36px 36px 0px;
				display: flex;
				align-items: center;
				padding-left: 30px;
			}
			.switch-text {
				font-size:36px;
				line-height: 50px;
				text-shadow:0px 3px 6px rgba(0,0,0,0.16);
			}
			.header-empty {
				flex: 1;
			}
			.switch-icon {
				margin-left: 5px;
				transform: translateY(4px);
				width: 50px;
				height: 46px;
			}
			.data-time {
				font-size:28px;
				color: #999999;
				font-weight: bold;
				opacity: 0.5;
			}
		}
	}
	.page-content {
	}
	.at-tabs {
		position: relative;
		&__header {
			display: flex;
			position: absolute;
			bottom: 20px;
			z-index: 800;
			background: none;
			padding: 0 30px;
			box-sizing: border-box;
		}
		&__item {
			flex: 1;
			font-size:32px;
			font-weight:bold;
			line-height:45px;
			height: 96px;
			box-sizing: border-box;
			color: #FF8F1F;
			background: #fff;
			border-radius:0px 0px 20px 0px;
			&:first-child {
				border-radius:0px 0px 0px 20px;
			}
			&::after {
				content: '';
				height: 0;
				background:rgba(255,143,31,1);
			}
			&--active {
				color: #fff;
			  background:rgba(255,143,31,1);
				&::after {
					transform: scaleX(1);
				}
				&::before {
					border: none;
				}
			}
		}
		&__underline {
			height: 0 !important;
		}
		&__body {
			margin-top: 25px;
		}
		.dashboard-content, .goods-content {
			width:690px;
			height:974px;
			margin-bottom: 20px;
			background:rgba(255,255,255,1);
			box-shadow:0px 10px 30px rgba(38,128,235,0.04);
			margin-left: 30px;
			opacity:1;
			border-radius:20px;
		}
		// .at-tabs-pane {
		// 	border-radius:20px;
		// 	overflow: hidden;
		// }
		.main-content {
			background:rgba(255,255,255,1);
			border-radius:20px;
			box-sizing: border-box;
			padding: 0 30px;
			&.noPower {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				border-radius: 0;
				padding: 80px 0;
				margin: 0 30px;
				border-bottom: 1px solid #E6E6E6;
				.noPower-img {
					width:160px;
					height: 140px;
					margin-bottom: 20px;
				}
				.noPower-text {
					opacity: 0.8;
					color: #CCCCCC;
					font-size:28px;
					font-weight:bold;
				}
			}
			.main-label {
				font-size:28px;
				line-height:40px;
				color:#999999;
				margin-bottom: 8px;
			}
			.main-left {
				flex: 1;
				box-sizing: border-box;
				font-weight:bold;
				padding: 30px 30px 60px;
				.main-num {
					color: #404040;
					font-size:68px;
					line-height:78px;
					.main-icon {
						font-size: 48px;
					}
				}
			}
			.main-right {
				box-sizing: border-box;
				display: flex;
				font-weight: bold;
				padding-bottom: 60px;
				border-bottom:1px solid rgba(230,230,230,1);
				.main-item {
					width: 100%;
					margin-left: 30px;
					position: relative;
					&:first {
						margin-right: 233px;
					}
					.switch-icon {
						position: absolute;
						width: 28px;
						height: 36px;
						top: 40px;
						left: -10px;
					}
					.up-label, .down-label {
						font-size:36px;
						color:rgba(29,196,162,1);
					}
					.status-label {
						margin-bottom: 0;
					}
					.up-label {
						color: #FF4D77;
					}
				}
			}
		}
		.main-apps {
			.apps-title {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 30px;
				height: 45px;
				font-weight: bold;
				.title-icon {
					width:10px;
					height:36px;
					background:rgba(38,128,235,1);
					border-radius: 0 4px 10px 0;
					margin-right: 16px;
				}
				.title-text {
					flex: 1;
					height:45px;
					font-size:32px;
					color:#000000;
				}
			}
			.apps-List {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				background:rgba(255,255,255,1);
				padding-top: 30px;
				&.noPower {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					padding-top: 120px;
					.noPower-img {
						width:160px;
						height:140px;
						margin-bottom: 20px;
					}
					.noPower-text {
						opacity: 0.8;
						color: #CCCCCC;
						font-size:28px;
						font-weight:bold;
					}
				}
				.app-warn {
					width: 100%;
					position: absolute;
					bottom: 20px;
					text-align: center;
					color: #ccc;
					font-size: 24px;
				}
				.app-item {
					width: 256px;
					padding: 20px 0 30px 60px;
					font-weight:bold;
					.item-icon {
						color: #404040;
						font-size: 28px;
						margin-right: 5px;
					}
					.item-text {
						font-size:28px;
						color:#999999;
					}
					.item-num {
						color: #404040;
						font-size: 40px;
					}
				}
			}
		}
	}
}