.noUser-page{
	font-weight: bold;
	text-align: center;
}
.close-cover {
	padding-top: 80rpx;
}
.close-cover image {
	display: inline-block;
	width: 430rpx;
	height: auto;
}
.close-tip {
	padding: 30rpx 70rpx 0 70rpx;
	font-size: 29rpx;
	color: #ccc;
}
.close-action {
	display: inline-block;
	width: 420rpx;
	height: 72rpx;
	margin-top: 60rpx;
	font-size: 32rpx;
	color: #fff;
	line-height: 72rpx;
	border-radius: 39rpx;
	background:linear-gradient(94deg,rgba(254,197,111,1) 0%,rgba(255,143,31,1) 100%);
	box-shadow:0px 3px 10px rgba(0,0,0,0.16);
}
