.login-page {
	box-sizing: border-box;
	height: 100vh;
	background: #fff;
	padding: 50rpx 120rpx;
	.at-form {
		padding: 0;
		&::after {
			border: none;
		}
	}
	.at-input {
		padding: 14rpx 0;
	}
	.page-header {
		width: 510rpx;
		text-align: center;
		display: flex;
		margin-bottom: 90px;
		.header-title {
			flex: 1;
			font-weight:400;
			line-height:56rpx;
			font-size: 40rpx;
			color:rgba(157,157,157,1);
			&.active {
				font-weight:bold;
				color:rgba(60,60,60,1);
			}
		}
	}
	.login-form {
		font-size: 28rpx;
		.form-button {
			color: #ffffff;
			height:76rpx;
			line-height: 76rpx;
			background:linear-gradient(133deg,rgba(72,72,72,1) 0%,rgba(60,60,60,1) 100%);
			border-radius:6px;
			border: none;
			margin-top: 40rpx;
			font-size: 32rpx;
		}
		.form-control {
			border:2rpx solid rgba(60,60,60,1);
			color: #333;
			&.form-defaultText {
				color:rgba(226,226,226,1);
				border:2rpx solid rgba(226,226,226,1);
			}
		}
		.form-row {
			border-bottom:2rpx solid rgba(226,226,226,1);
		}
	}
	.link-to {
		margin-top: 20rpx;
		padding: 10rpx 0;
		color: #6694EF;
		font-size: 24rpx;
	}
}